<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asadshaik.mjcettimetable">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/timetable"
        android:label="TimeTableGenerator"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Student_Login" />
        <activity android:name=".Teacher_Login" />
        <activity android:name=".LoginActivityTeacher" />
        <activity android:name=".LoginActivityStudent" />
        <activity android:name=".Profile_Teacher" />
        <activity android:name=".Profile_Student" />
        <activity android:name=".Timetable_data"></activity>
    </application>

</manifest>